# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.env
.env.*
.env.local

# App Data
app/uploads/
app/chroma_db/

# SQLite
*.db

# Node
web/node_modules/
web/dist/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
backups/

# Machine Learning Artifacts
Esillio-Compiler/artifacts/checkpoints/
Esillio-Compiler/artifacts/esillio_compiler/
Esillio-Compiler/dataset/
Esillio-Compiler/logs/
Esillio-Compiler/outputs/
*.safetensors
*.pt
*.tar.gz
*.jsonl
